*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Pp]ublish/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
publish/RAI.Utils.2.1.0.nupkg

# Local package build outputs
artifacts/
*.nupkg
*.snupkg

# Generated icon variants
HardCastle128x128.png
HardCastle192x192.png
HardCastle512x512.png
